.upload-wrapper {
    display: flex;
    gap: 24px;
}

.actions-upload {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
}

.actions-upload div {
    cursor: pointer;
}

.btn-container {
    position: relative;
    width: 400px;
}

.btn-container label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 70px;
    border: 1px solid #E5E5E5;
    background-color: transparent;
    padding: 10px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    color: #82B284;
    cursor: pointer;
}


.btn-container label:hover {
    border: 1px solid #CDCDCD;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #98C88C;
}

.btn-container label:active {
    border: 1px solid #CDCDCD;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #58A742;
}