.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-template-rows: auto auto 100px;
  grid-template-areas:
    "sidebar content"
    "sidebar content"
    "footer  footer";
  background-color: #fff;
  color: #444;
}